In [18]:
import pandas as pd
character_data = pd.read_csv("character_metadata.csv", index_col=None, header=0)
character_data.head()

,character id,name,id number,title,gender,billing order
0,u0,BIANCA,m0,10 things i hate about you,f,4
1,u1,BRUCE,m0,10 things i hate about you,?,?
2,u2,CAMERON,m0,10 things i hate about you,m,3
3,u3,CHASTITY,m0,10 things i hate about you,?,?
4,u4,JOEY,m0,10 things i hate about you,m,6

In [19]:
list_ = open("movie_conversations.txt").read().split(" +++$+++ ")
# print(list_)
new_list = []
for i in range(len(list_)):
    new_list.extend(list_[i].split("\n"))

In [22]:
id1 = new_list[0:-1:4]
id2 = new_list[1: :4]
movie = new_list[2: :4]
movie_lines = new_list[3: :4]
d = {'id1': id1, 'id2': id2, 'movie_id': movie, 'lines': movie_lines}
convo_metadata = pd.DataFrame(data=d)

In [23]:
id1_set = convo_metadata.merge(character_data, left_on='id1', right_on='character id')
full_set = id1_set.merge(character_data, left_on='id2', right_on='character id')
print(full_set)

         id1    id2 movie_id                                         lines  \
0         u0     u2       m0              ['L194', 'L195', 'L196', 'L197']
1         u0     u2       m0                              ['L198', 'L199']
2         u0     u2       m0              ['L200', 'L201', 'L202', 'L203']
3         u0     u2       m0                      ['L204', 'L205', 'L206']
4         u0     u2       m0                              ['L207', 'L208']
...      ...    ...      ...                                           ...
83092  u9028  u9031     m616  ['L666324', 'L666325', 'L666326', 'L666327']
83093  u9028  u9031     m616                        ['L666575', 'L666576']
83094  u9030  u9034     m616                        ['L666256', 'L666257']
83095  u9030  u9034     m616  ['L666369', 'L666370', 'L666371', 'L666372']
83096  u9030  u9034     m616             ['L666520', 'L666521', 'L666522']

      character id_x    name_x id number_x                     title_x  \
0                 u0    BIANCA          m0  10 things i hate about you
1                 u0    BIANCA          m0  10 things i hate about you
2                 u0    BIANCA          m0  10 things i hate about you
3                 u0    BIANCA          m0  10 things i hate about you
4                 u0    BIANCA          m0  10 things i hate about you
...              ...       ...         ...                         ...
83092          u9028   COGHILL        m616                   zulu dawn
83093          u9028   COGHILL        m616                   zulu dawn
83094          u9030  DURNFORD        m616                   zulu dawn
83095          u9030  DURNFORD        m616                   zulu dawn
83096          u9030  DURNFORD        m616                   zulu dawn

      gender_x billing order_x character id_y   name_y id number_y  \
0            f               4             u2  CAMERON          m0
1            f               4             u2  CAMERON          m0
2            f               4             u2  CAMERON          m0
3            f               4             u2  CAMERON          m0
4            f               4             u2  CAMERON          m0
...        ...             ...            ...      ...         ...
83092        ?               ?          u9031  MELVILL        m616
83093        ?               ?          u9031  MELVILL        m616
83094        ?               ?          u9034  VEREKER        m616
83095        ?               ?          u9034  VEREKER        m616
83096        ?               ?          u9034  VEREKER        m616

                          title_y gender_y billing order_y
0      10 things i hate about you        m               3
1      10 things i hate about you        m               3
2      10 things i hate about you        m               3
3      10 things i hate about you        m               3
4      10 things i hate about you        m               3
...                           ...      ...             ...
83092                   zulu dawn        ?               ?
83093                   zulu dawn        ?               ?
83094                   zulu dawn        ?               ?
83095                   zulu dawn        ?               ?
83096                   zulu dawn        ?               ?

[83097 rows x 16 columns]

In [115]:
d = {'id1': full_set['id1'], 'id2': full_set['id2'], 'id1_gender': full_set['gender_x'], 'id2_gender': full_set['gender_y'], 'movie_id': full_set['movie_id'], 'lines': full_set['lines']}
clean_set = pd.DataFrame(data=d)
#print(clean_set)
id1f = clean_set[clean_set['id1_gender']=='f']
bechdel = id1f[id1f['id2_gender']=='f'].reset_index()
bechdel.head()

,index,id1,id2,id1_gender,id2_gender,movie_id,lines
0,38,u0,u5,f,f,m0,"['L164', 'L165']"
1,39,u0,u5,f,f,m0,"['L319', 'L320']"
2,40,u0,u5,f,f,m0,"['L441', 'L442', 'L443', 'L444', 'L445']"
3,41,u0,u5,f,f,m0,"['L525', 'L526', 'L527']"
4,42,u0,u5,f,f,m0,"['L529', 'L530']"

In [66]:
list_ = open("movie_lines.txt").read().split(" +++$+++ ")

new_list = []
for i in range(len(list_)):
    new_list.extend(list_[i].split("\n"))

In [91]:
line_id = new_list[0:-1:5]
movie_line = new_list[4: :5]
d = {'line_id': line_id, 'movie_line': movie_line}
line_data = pd.DataFrame(data=d)
line_data.head()

  line_id    movie_line
0   L1045  They do not!
1   L1044   They do to!
2    L985    I hope so.
3    L984     She okay?
4    L925     Let's go.

In [107]:

convo = bechdel['lines']
print(type(convo[1]))

every_tag = []
for z in range(len(convo)):
    convo[z] = convo[z].replace("'", "")
    convo[z] = convo[z].replace("[", "")
    convo[z] = convo[z].replace("]", "")
    convo[z] = convo[z].split(", ")
    every_tag.append(convo[z])

<class 'list'>

AttributeError: 'list' object has no attribute 'replace'

In [ ]:
text_line = []

for j in range(len(convo)):
    ce = convo[j]
    for k in range(len(ce)):
            linetext = line_data[line_data['line_id'] == ce[k]].reset_index()
            if k == 0:
                linex = [linetext.iloc[0, 2]]
            else: 
                linex.append(linetext.iloc[0, 2])
    text_line.append(linex)

print(text_line)